name: Build and Publish Docker Images to GHCR

on:
  push:
    branches: [ main ]
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tags
        id: vars
        run: |
          if [[ $GITHUB_REF == refs/tags/v* ]]; then
            VERSION_TAG="${GITHUB_REF#refs/tags/v}"
            echo "semver_tag=$VERSION_TAG" >> $GITHUB_OUTPUT
            echo "tags=ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-web:latest,ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-web:$VERSION_TAG" >> $GITHUB_OUTPUT
            echo "tags_queue=ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-queue:latest,ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-queue:$VERSION_TAG" >> $GITHUB_OUTPUT
          else
            SHA_SHORT=$(git rev-parse --short HEAD)
            echo "semver_tag=$SHA_SHORT" >> $GITHUB_OUTPUT
            echo "tags=ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-web:latest,ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-web:$SHA_SHORT" >> $GITHUB_OUTPUT
            echo "tags_queue=ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-queue:latest,ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-queue:$SHA_SHORT" >> $GITHUB_OUTPUT
          fi

      - name: Build and push web image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.web
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.vars.outputs.tags }}

      - name: Build and push queue image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.vars.outputs.tags_queue }}

      - name: Logout from GHCR
        if: always()
        run: docker logout ghcr.io
