name: Build and Publish Docker Images to GHCR
on:
  pull_request:
    types:
      - closed
    branches:
      - main
    paths-ignore:
      - 'helm-chart/**'
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tags
        id: vars
        run: |
          git fetch --tags
          VERSION_TAG=$(git tag --sort=-v:refname | grep -E '^v[0-9]+\.[0-9]+\.[0-9]+$' | head -n 1)
          if [[ -n "$VERSION_TAG" ]]; then
            VERSION_TAG_CLEAN=${VERSION_TAG#v}
            echo "semver_tag=$VERSION_TAG_CLEAN" >> $GITHUB_OUTPUT
            echo "tags=ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-web:latest,ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-web:$VERSION_TAG_CLEAN" >> $GITHUB_OUTPUT
            echo "tags_queue=ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-queue:latest,ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-queue:$VERSION_TAG_CLEAN" >> $GITHUB_OUTPUT
          else
            SHA_SHORT=$(git rev-parse --short HEAD)
            echo "semver_tag=$SHA_SHORT" >> $GITHUB_OUTPUT
            echo "tags=ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-web:latest,ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-web:$SHA_SHORT" >> $GITHUB_OUTPUT
            echo "tags_queue=ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-queue:latest,ghcr.io/${GITHUB_REPOSITORY_OWNER}/snipman-queue:$SHA_SHORT" >> $GITHUB_OUTPUT
          fi

      - name: Build and push web image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.web
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.vars.outputs.tags }}

      - name: Build and push queue image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: ${{ github.event_name == 'push' }}
          tags: ${{ steps.vars.outputs.tags_queue }}

      - name: Logout from GHCR
        if: always()
        run: docker logout ghcr.io
